paho-mqtt==2.1.0
# TODO: Sobald luxtronik 0.3.15 auf PyPI released ist, zurück zu: luxtronik==0.3.15
luxtronik @ git+https://github.com/Bouni/python-luxtronik.git@02afea84bd5bf3ee87445de6f2a42b8029983169
